{% extends "forms/fields/text/text.html.twig" %}

{% block group %}
  <span><a href="#" class="button seomagic-reindex"><i class="fa fa-fw fa-magic"></i> {{ 'PLUGIN_SEOMAGIC.SEOMAGIC_REGENERATE_SEO_DATA'|tu }}</a></span>
  <span class="danger"><a href="#" class="button seomagic-delete"><i class="fa fa-fw fa-trash"></i> {{ 'PLUGIN_SEOMAGIC.SEOMAGIC_DELETE_SEO_DATA'|tu }}</a></span>
{% endblock %}
